.hero {
  color: $color3;
  background-color: rgb(47, 48, 58);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  height: 600px;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 82px;
  margin-top: 0px;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: url(../images/image10.jpg);
  background-size: cover;
  background-position: center;
}
.hero__title {
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  color: var(--color3);
  font-weight: 900;
  margin: 452px 452px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 696px;
  text-align: center;
}
.hero__button {
  background-color: $color4;
  color: $color3;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  height: 50px;
  left: 666px;
  top: 430px;
}
