.main__list {
  display: flex;
  column-gap: 30px;
  margin-bottom: 99px;
}
.main__card {
  width: 270px;
}
.main__icon {
  border-radius: 4px;
  background-color: $color5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__paragraph {
  color: $color2;
  line-height: 1.71;
  font-weight: 400;
}
